.card-header{
    background: #1488CC;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2B32B2, #1488CC);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2B32B2, #1488CC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */   
    color:white;
    text-align: center;
    }

    /*header superior*/

.header__superior{
	max-width: 1200px;
	margin: auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 20px;
}

.logo img{
	width: 150px;
}

.header__superior p{
    font-family: 'Tapestry', cursive;
    width: 200px;
}

.header__superior a{
    display: block;
}

/*barra menu*/

.container__menu{
	width: 100%;
	height: 70px;
	background: #023877;
	padding: 0px 20px;
}

menu{
	max-width: 1200px;
	margin: auto;
	height: 100%;
}

nav{
	height: 100%;
}

nav > ul{
	height: 100%;
	display: flex;
}

nav ul  li{
	height: 100%;
	list-style: none;
	position: relative;
    padding: 15px;
}

nav > ul > li > a{
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	padding: 14px;
	color: white;
	text-transform: uppercase;
	font-size: 14px;
}

nav > ul > li > a:hover{
	transform: scale(1,1);
	background: #0074C7;
	box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
}

/*submenu*/

nav ul li ul{
	width: 200px;
	display: flex;
	flex-direction: column;
	background: #fff;
	position: absolute;
	top: 90px;
	left: -5px;
	padding: 14px;
	visibility: hidden;
	opacity: 0;
	box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
	z-index: 10;
	transition: all 300ms ease;
}

nav ul li:hover ul{
	visibility: visible;
	opacity: 1;
	top: 70px;
}

nav ul li ul::before{
	content: '';
	width: 0;
	height: 0;
	border-left: 12px solid transparent;
	border-right: 12px solid transparent;
	border-bottom: 12px solid white;
	position: absolute;
	top: -12px;
	left: 20px;
}

nav ul li ul li a{
	display: block;
	color: #0fb5df;
	padding: 6px;
	padding-left: 14px;
	margin-top: 10px;
	font-size: 14px;
	text-transform: uppercase;
	transition: all 300ms ease;
}

nav ul li ul li a:hover{
	background: #0074C7;
	color: #fff;
	transform: scale(1.1);
	padding-left: 30px;
	font-size: 14px;
	box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
}